
:root {
  /* light theme */
  --bg-main: #f6f8fa;
  --bg-panel: #ffffff;
  --text-primary: #0d1117;
  --text-secondary: #6e7f96;
  --border-color: #e1e4e8;
  --primary-btn: #388bfd;
  --primary-btn-hover: #1f6feb;
  --card-shadow: rgba(0, 0, 0, 0.04);
  --card-shadow-hover: rgba(56, 139, 253, 0.12);

  font-family:
    "Sora",
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

[data-theme="dark"] {
  /* dark theme */
  --bg-main: #010409; 
  --bg-panel: #0d1117; 
  --text-primary: #e6edf3; 
  --text-secondary: #8b949e; 
  --border-color: #30363d; 
  --primary-btn: #238636; 
  --primary-btn-hover: #2ea043;
  --card-shadow: rgba(0, 0, 0, 0.4);
  --card-shadow-hover: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  background-color: var(--bg-main);
  color: var(--text-primary);


  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}
